<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.hardwarecenter.mapper.IOTMapper">
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_iot_data (arrangement_id,  create_time ,longitude,latitude)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.arrangementId}, #{item.createTime}, #{item.longitude}, #{item.latitude})
        </foreach>
    </insert>

</mapper>