<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.logisticscenter.mapper.StationMapper">
    <resultMap id="stationResultMap" type="com.xzit.common.logistics.entity.Station">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="isDisable" column="is_disable"/>
        <result property="areaId" column="area_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
    </resultMap>
    <resultMap id="stationDTOMapper" type="com.xzit.common.logistics.model.dto.StationDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="isDisable" column="is_disable"/>
        <result property="province" column="province"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
    </resultMap>
    <select id="getActiveStationByQuery" resultType="com.xzit.common.logistics.model.dto.StationDTO" resultMap="stationDTOMapper">
        select ls.*,ar.province from t_logistics_station ls left join t_area ar on ls.area_id=ar.id where ls.is_disable=0
        <if test="!queryVO.query.isEmpty()">
            and (ls.name like concat('%',#{queryVO.query},'%') or ls.address like concat('%',#{queryVO.query},'%') or ar.province like concat('%',#{queryVO.query},'%'))
        </if>
    </select>
    <select id="getDisableStationByQuery" resultType="com.xzit.common.logistics.model.dto.StationDTO" resultMap="stationDTOMapper">
        select ls.*,ar.province from t_logistics_station ls left join t_area ar on ls.area_id=ar.id where ls.is_disable=1
        <if test="!queryVO.query.isEmpty()">
            and (ls.name like concat('%',#{queryVO.query},'%') or ls.address like concat('%',#{queryVO.query},'%') or ar.province like concat('%',#{queryVO.query},'%'))
        </if>
    </select>


</mapper>