<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.logisticscenter.mapper.StationMapper">
    <resultMap id="centerResultMap" type="com.xzit.common.logistics.entity.Station">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="isDisable" column="is_disable"/>
        <result property="areaId" column="area_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <!-- 使用resultMap嵌套定义location的子字段 -->
        <association property="location" javaType="java.util.Map" resultMap="locationResultMap"/>
    </resultMap>

    <!-- 定义location字段的ResultMap -->
    <resultMap id="locationResultMap" type="java.util.Map">
        <!-- 使用constructor映射Map的键值对 -->
        <constructor>
            <idArg column="longitude" javaType="java.lang.String"/>
            <arg column="latitude" javaType="java.lang.Double"/>
        </constructor>
    </resultMap>

</mapper>