<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.usercenter.mapper.UserInfoMapper">

    <insert id="insertUserInfo" parameterType="com.xzit.common.user.entity.UserInfo" useGeneratedKeys="true" keyProperty="id">
            INSERT INTO t_user_info (nickname,avatar,email,phone,create_time,update_time)
            VALUES (#{userInfo.nickname},#{userInfo.avatar},#{userInfo.email},#{userInfo.phone},#{userInfo.createTime},#{userInfo.updateTime})
    </insert>
    <select id="getUserInfoByQuery" resultType="com.xzit.common.user.model.dto.UserInfoDTO">

    </select>
</mapper>